codecov>=2.0.15
networkx>=2.3
pylint>=2.3.1
pytest>=5.0.1
pytest-black>=0.3.11
pytest-cov>=2.7.1
pytest-isort>=1.2.0
pytest-mypy>=0.3.3
pytest-pylint>=0.17.0
rply>=0.7.7
matplotlib>=3.1.1
numpy>=1.17.3
pillow>=7.2.0
